extends common, html

snippet if
{% if ${1} %} ${2} {% endif %}
endsnippet


snippet assign
{%- assign ${1} -%}
endsnippet

snippet schema
{% schema %}
{
	"name": ${1}
}
{% endschema %}
endsnippet

snippet comment
{% comment %} ${1} {% endcomment %}
endsnippet

snippet for
{% for ${1} %}
${2}
{% endfor %}
endsnippet

snippet render
{% render ${1} %}
endsnippet
