extends common

snippet for
for ${1} in ${2}
endsnippet

snippet class
class ${1}(models.Model):
	${2}
endsnippet

snippet from
from ${1} import ${2}
endsnippet

snippet import
from ${2} import ${1}
endsnippet
