snippet @m
@media ${1:screen} and (${2}) {
	${3}
}
endsnippet

snippet @a
@apply 
endsnippet

snippet @s
@screen
endsnippet

snippet std
/* stylelint-disable */
endsnippet

snippet ste
/* stylelint-enable */
endsnippet
