extends javascript, common

snippet script
<script lang="ts">
$1
</script>

endsnippet

snippet temp
<template>
$1
</template>
endsnippet

snippet imvp
import { Vue, Prop, Component } from "vuepd";
endsnippet

snippet @C
@Component
endsnippet
